p {
    font-size: 27px;
    color: white;
    margin: 30px;
}

p.p:hover {
    cursor: pointer;
}

a {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p#list-link {
    display: none;
}

li {
    color: white;
}